.main-heading h1 {
  content: " ";
  position: absolute;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  font-family: Playfair Display;
  top: 250px;
  padding-left: 85px;
  width: 600px;
  z-index: 30;
}

.about-heading h1 {
  content: " ";
  position: absolute;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  font-family: Playfair Display;
  top: 350px;
  text-align: center;
  width: 100%;
  z-index: 30;
}

.about-heading p{
  position: absolute;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
  top: 420px;
  text-align: center;
  width: 100%;
  z-index: 30;

}
