.section5 {
  width: 100%;
  height: 100vh;
  padding: 112px 85px;
}

.section5 span {
  color: #fc8621;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
}

.section5 h2 {
  font-size: 46px;
  color: #000;
  font-weight: 700;
  font-family: "Playfair Display";
  margin-bottom: 1rem;
  margin-bottom: 48px;
}
