.section5 {
  width: 100%;
  height: 100vh;
  padding: 112px 85px;
}

.section5 span {
  color: #fc8621;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
}

.section5 h2 {
  font-size: 46px;
  color: #000;
  font-weight: 700;
  font-family: "Playfair Display";
  margin-bottom: 1rem;
  margin-bottom: 48px;
}

.blogs {
  display: flex;
  justify-content: space-between;
}

.blog-card {
  width: 23.5%;
  height: auto;
}

.blog-card img {
  width: 100%;
  height: 300px;
}

.blog-text h2 {
  font-size: 18px;
  font-family: Playfair display;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.blog-text h2:hover{
  color: #fc8621;
}

.blog-text p {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.blog-text span{
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.blog-text{
  padding-right: 50px;
  padding-left: 10px;
}
